/* Global */

body {
  background-color: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.32em;
}

.container {
  width: 100%;
  max-width: 1324px;
  margin: 0 auto;
}

/* Navbar */

.main-nav {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  height: 80px;
}

.main-nav a {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  padding: 4px 14px;
}

/* Navbar-logo */

.logo {
  padding-right: 24px;
}

.logo img {
  width: 124px;
}

/* Navbar-left-menu */
.main-menu {
  flex: 3;
}

.main-menu ul {
  display: flex;
}

.main-menu a:hover,
.right-menu a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 25px;
}

/* Navbar-right-menu */
.right-menu {
  flex: 1;
}

.right-menu ul {
  display: flex;
}

/* Navbar-btn-menu */
.btn-menu span {
  display: inline-block;
  padding-left: 28px;
  font-size: 20px;
  cursor: pointer;
}

/* Navbar-burger-menu */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 400px;
  background: url("../images/showcase.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h1 {
  margin-bottom: 30px;
  font-size: 60px;
  color: #fff;
}

.showcase p {
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

/* Responsiveness */
@media (max-width: 1000px) {
  .menu-btn {
    display: block;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }
  .right-menu,
  .btn-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }

  /* .main-menu,
  .right-menu,
  .btn-menu {
    display: none;
  } */

  .main-nav ul,
  .main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    border-right: 1px solid #ccc;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul,
  .main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul,
  .main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul,
  .main-menu.show {
    transform: translateX(0px);
  }

  .showcase h1 {
    font-size: 30px;
    width: 75%;
  }

  .showcase p {
    width: 75%;
  }
}
