* {
 box-sizing: border-box;   
}
.container-tentang-kami {
    width: 100%;
}
.content-header-tentang-kami {
    margin: 0 auto;
    position: relative;
}
.header-left{
    padding: 20px;
    text-align: center;
}
.header-left h1 {
    text-align: center;
}

.menu-icon {
    line-height: 100px;
    color: black;
    height: 2.08333vw;;
    float: right;
    left: 0;
    top: 0;
    width: 2.08333vw;
}

.header-left h1 {
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 3.33333vw;
}
.header-right {
    position: absolute;
    margin-right: -25px;
    display: none;
}

.col-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 50px;
}
.flex-img-work-article-col-section {
    width: 20%;
    border: 1px solid rgba(0,0,0,.125);
    text-align: justify;
    float: left;
    overflow: hidden;
    transition: box-shadow .45s ease-out;
    
}
.flex-img-work-article-col-section:hover {
    box-shadow: 15px 15px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    opacity: 1;
}
    
.flex-img-work-article-col-section::after {
    display: contents;
    clear: both;
    content: " ";
    background-size: 100% 100%;
}
.img-col-section {
    width: 100%;
    overflow: hidden;
    height: 200px;
    vertical-align: middle;
    border-style: none;
}

h2, h3, h4 {
    line-height: 1.2;
}
.descript-col-section {
    margin-bottom: .75rem ;
    font-size: 1rem;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    padding: 21px!important;
}
@media all and (max-width: 1000px) {
    .flex-img-work-article-col-section {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 670px) {
    .menu-icon {
        display: block;
      }
    .flex-img-work-article-col-section {
        width: 50%;
    }     
}