@media all and (max-width: 1000px) {
    .title {
        font-size: 30px;
    } 

    .text-wrapping {
        padding: 16px;
        line-height: 25px;
    }

    .text-wrapping-inner {
        padding: 0 145px 0 40px;
    }

    .aboutus {
        margin-bottom: 15px;
    }

    .btn {
        padding: 10px 10px;
        font-size: 10px;
        font-weight: bold;
        line-height: 0.5;
    }

    .gambar {
        width: 50%;
    }
}

@media all and (max-width: 670px) {
    .title {
        font-size: 25px;
    }

    .sub-title {
        font-size: 18px;
    }

    .text-wrapping {
        width: 100%;
    }

    .text-wrapping-inner {
        width: 100%;
        padding: 0px
    }

    .aboutus {
        margin-bottom: 15px;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        font-size: 10px;
        font-weight: bold;
        line-height: 0.5;
    }

    .gambar {
        position: unset;
        width: 100%;
    }
}

/*@media (min-width: 1440px) {
    .text-wrapping-inner {
    height: 475px;
    }
}*/